body{
    overflow: hidden;
}
.circle{
    margin-top: 60vh;
    transform: translateY(85vh);
    animation: pulse 4s infinite linear;
    /* animation-delay: 2s; */
}
.circle2{
    transform: translateY(80vh);
    margin-top: 22vh;
    animation: pulse2 4s infinite linear;
}
.circle3{
    transform: translateY(80vh);
    margin-top: 50vh;
    animation: pulse3 4s infinite linear;
}
.stop{
    animation: none;
}
@keyframes pulse {
    from{
    
    }
    to{
        margin-top: -5vh;
        width: 85rem;
        height: 85rem;
    }
    
    
}
@keyframes pulse2 {
    from{
     
    }
    to{
        margin-top: -5vh;
        width: 110rem;
        height: 110rem;
    }
    
    
}
@keyframes pulse3 {
    from{
     
    }
    to{
        margin-top: -5vh;
        width: 59rem;
        height: 59rem;
    }
    
    
}
